<nav class="navbar">
    <h4>Navigation</h4>
    <a href="/sitemap">Sitemap</a>
    <a href="/">Homepage</a>
    <a href="/tracks">My Tracks</a>
    <a href="/myProfile" id="navProfile">My Profile</a>
    <a href="/login" id="navLogin">Login</a>
</nav>