<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="404Main">
            <h2>The page you are looking for could not be found</h2>
        </div>
        <%- include("./partials/footer.ejs") %>
    </body>
</html>