<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css">
        <title>Homepage</title>
    </head>
    <body>
        <%- include("./partials/nav.ejs") %>
        <div id="indexWrap">
            <div class="indexHeader">
                <h2>Hello, and welcome to my website</h2>
                <p>Please take a look around!</p>
                
            </div>
            
            
        </div>
        <%- include("./partials/footer.ejs") %>
    </body>
</html>