<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css">
        <title>Homepage</title>
    </head>
    <body>
        <%- include("./partials/nav.ejs") %>
        <div id="indexWrap">
            <div class="indexHeader">
                <h2>Hello, and welcome to my website</h2>
                <p>Please take a look around!</p>
                
            </div>
            <div class="indexMain">
                <p>On this website you are able to show your music off to your friends!</p>
                <p>Simply make an account with the button in the top right corner.</p>
                <p>Then add tracks to your account by inputting a spotify link in "My Tracks"</p>
                <p>After that you can organise them into playlists in "My Playlists" and upload the playlists to your profile!</p>
                <p>Finally using the searchbar on the top right you can search for your friends pages and see their playlists.</p>
            </div>
            
        </div>
        <%- include("./partials/footer.ejs") %>
    </body>
</html>