<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css">
        <title><%= title %></title>
        <script type="module">
            import { updateVisitors, getVisitors } from "/scripts/viewCounter.js";
            updateVisitors();
            getVisitors();
        </script>
    </head>
    <body>
        <div id="indexWrap">
            <div class="indexHeader">
                <h2>Hello, and welcome to my website</h2>
                <p>Please take a look around!</p>
            
            </div>
            <%- include("./partials/nav.ejs") %>
        </div>
        <div class="footer">
            <p><span id="visitors"></span> people have visited so far!</p>
        </div>
    </body>
</html>