<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css">
        <title>Login</title>
        <script src="/scripts/loginInterface.js"></script>
    </head>
    <body>
        <div id="loginMain">
            <h2>Please enter your details</h2>
            <form onsubmit="return false;">
                <label>Username</label><br>
                <input type="text" required name="loginName" id="loginName">
                <br>
                <label>Password</label><br>
                <input type="text" required name="loginPass" id="loginPass">
                <br>
                <button id="submitbtn" type="submit">Login.</button>
            </form>

        </div>
    </body>

</html>