<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css">
        <title>Login</title>
        <script src="/scripts/loginInterface.js"></script>
    </head>
    <body>
        <%- include("./partials/nav.ejs") %>
        <div id="loginMain">
            <h2>Please enter your details</h2>
            <form onsubmit="return false;">
                <label>Username</label><br>
                <input type="text" name="loginName" id="loginName">
                <br>
                <label>Password</label><br>
                <input type="text" name="loginPass" id="loginPass">
                <br>
                <button id="loginbtn" type="submit">Login.</button>
                <button id="loginToggle">Sign Up</button>
                <br>
                <p id="loginOutput"></p>
            </form>

        </div>
    </body>

</html>