<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css">
        <title>My profile!</title>
        
    </head>
    <body>
        <%- include("./partials/nav.ejs") %>
        <div id="profile">
            <h1><%= username %></h1>
        </div>
    </body>
</html>