/*Partials CSS*/
.navbar {
    border:4px gold ridge;
    padding:1rem;
    background-color:blanchedalmond;
}
.navbar > h4 {
    margin:0;
    font-size:1.4rem;
    border-bottom:black 1px ridge;
    transition: all 3s;
    float:left;
    margin-right:1rem;
}
.navbar > h4:hover {
    text-shadow:red 1.3px 1.3px;
    transform:scale(115%);
}
.navbar > a {
    display:inline-block;
    list-style:none;
    text-decoration:none;
    color:black;
    text-shadow:1px 1px white;
    font-size:1.2rem;
    transition:all 1s;
    margin:0.5rem;
}
.navbar > a:hover {
    color:darkblue;
    transform:scale(120%);
}
#navLogin {
    position:relative;
    float:right;
}

/*Login CSS*/
#loginMain {
    margin:auto;
    margin-top:2rem;
    background-color:blanchedalmond;
    padding:2rem;
    width:30%;
    text-align:center;
    border:5px gold ridge;
}
#loginMain > h2 {
    font-size:2rem;
}
#loginMain > form {
    font-size:1.2rem;
    text-align:left;
    width:50%;
    margin:auto;
}
#loginMain > form > input {
    padding:8px;
    margin:0.4rem;
    width:88%;
    font-size:0.8rem;
}
#submitbtn {
    margin:0 35%;
    width:5rem;
    padding:0.4rem;
    font-size:1rem;
}
#loginToggle {
    display:block;
    position:relative;
    right:7rem;
    border:none;
    background:none;
    text-decoration:underline;
    color:steelblue;
    font-size:1rem;
}
/*TrackList CSS*/
#trackForm {
    width:80%;
    margin:auto;
    margin-top:3rem;
    padding:3rem;
    background-color:blanchedalmond;
    text-align:center;
    font-size:1.3rem;
    border:gold 5px ridge;
}
#trackInput {
    width:50%;
    font-size:1rem;
    padding:0.4rem;
}
#trackbtn {
    width: 14%;
    font-size:1rem;
    padding:1rem;
    margin-top:1rem;
}
#trackList {
    margin:0;
    padding:0;
}
.trackMain > h1 {
    font-size:1.4rem;
    text-align:center;
    width:30%;
    margin:2rem auto;
    padding:1rem;
    border:gold ridge 4px;
    background-color:blanchedalmond;
}
/*TrackList entries CSS*/
.trackEntry {
    list-style:none;
    width:60%;
    border:gold ridge 5px;
    background-color:blanchedalmond;
    padding:1rem;
    margin:auto;
    margin-top:1.2rem;
}
.trackEntry > img {
    width:80px;
    height:auto;
    display:block;
    border:gold ridge 3px;
}
.trackEntry > h2 {
    display:block;
    font-size:1.4rem;
    margin:0;
    padding:0;
}
.trackEntry > p {
    display:block;
    font-size:1rem;
    font-weight:400;
    margin:0;
    padding:0;
    font-style:oblique;
}


/*Index CSS*/
.indexHeader {
    margin:auto;
    text-align:center;
    width:40%;
    border:black 5px ridge;
    margin-top:2rem;
    padding:0.5rem;
    background-color:beige;
}
.indexHeader > h2 {
    font-size:2.5rem;
    font-variant:small-caps;
}
.indexHeader > p {
    font-size:1.8rem;

}