/*Partials CSS*/
.navbar {
    border:4px gold ridge;
    width:8rem;
    padding:1rem;
    background-color:blanchedalmond;
    text-align: center;
}
.navbar > h4 {
    margin:0;
    font-size:1.4rem;
    width:100%;
    border-bottom:black 1px ridge;
    margin-bottom:0.5rem;
    transition: all 3s;
}
.navbar > h4:hover {
    text-shadow:red 1.3px 1.3px;
    transform:scale(115%);
}
.navbar > a {
    display:block;
    list-style:none;
    text-decoration:none;
    color:black;
    text-shadow:1px 1px white;
    font-size:1.2rem;
    transition:all 1s;
}
.navbar > a:hover {
    color:darkblue;
    transform:scale(110%);
}

/*Login CSS*/
#loginMain {
    margin:auto;
    margin-top:2rem;
    background-color:blanchedalmond;
    padding:2rem;
    width:30%;
    text-align:center;
    border:5px gold ridge;
}
#loginMain > h2 {
    font-size:2rem;
}
#loginMain > form {
    font-size:1.2rem;
    text-align:left;
    width:50%;
    margin:auto;
}
#loginMain > form > input {
    padding:8px;
    margin:0.4rem;
    width:88%;
    font-size:0.8rem;
}
#submitbtn {
    margin:0 35%;
    width:5rem;
    padding:0.4rem;
    font-size:1rem;
}

/*Index CSS*/
.indexHeader {
    margin:auto;
    text-align:center;
    width:40%;
    border:black 5px ridge;
    margin-top:2rem;
    padding:0.5rem;
    background-color:beige;
}
.indexHeader > h2 {
    font-size:2.5rem;
    font-variant:small-caps;
}
.indexHeader > p {
    font-size:1.8rem;

}