/*Global CSS*/
body {
    background-color:#fff5e6;
    min-height:100vh;
}
:root {
    height:100%;
}

/*Partials CSS*/
/*NavBar Partial*/
.navbar {
    border:4px gold ridge;
    padding:1rem;
    background-color:blanchedalmond;
}
.navbar > h4 {
    margin:0;
    font-size:1.4rem;
    border-bottom:black 1px ridge;
    transition: all 3s;
    float:left;
    margin-right:1rem;
}
.navbar > h4:hover {
    text-shadow:red 1.3px 1.3px;
    transform:scale(115%);
}
.navbar > a {
    display:inline-block;
    list-style:none;
    text-decoration:none;
    color:black;
    text-shadow:1px 1px white;
    font-size:1.2rem;
    transition:all 1s;
    margin:0.5rem;
}
.navbar > a:hover {
    color:darkblue;
    transform:scale(120%);
}
#navLogin {
    position:relative;
    float:right;
    margin-left:3rem;
}
/*SearchBar Partial*/
.userDisplay {
    float:right;
    position:relative;
    bottom:16px;
    text-align:center;
}
.searchBar {
    float:right;
    text-align:center;
}
#searchBar {
    width:80%;
    float:left;
}
.searchbtn {
    width:85%;
    display:block;
    float:left;
    border-radius:0;
    border:gray 1px ridge;
}
.userDisplay > p {
    display:inline;
    float:left;
    margin:0;
}
#logoutBtn {
    margin-left:1rem;
}
/*Footer Partial*/
#footer {
    width:95%;
    display:flex;
    justify-content:space-between;
}
#footer > p {
    width:30rem;
}
#footer > div > a > img {
    width:100px;
    height:auto;
}
#visitorText {
    justify-content:right;
    position:relative;
    top:65px;
}
#spotifyCredit {
    justify-content:left;
}
/*Login CSS*/
#loginMain {
    margin:auto;
    margin-top:2rem;
    background-color:blanchedalmond;
    padding:2rem;
    width:30%;
    text-align:center;
    border:5px gold ridge;
}
#loginMain > h2 {
    font-size:2rem;
}
#loginMain > form {
    font-size:1.2rem;
    text-align:left;
    width:50%;
    margin:auto;
}
#loginMain > form > input {
    padding:8px;
    margin:0.4rem;
    width:88%;
    font-size:0.8rem;
}
#submitbtn {
    margin:0 35%;
    width:5rem;
    padding:0.4rem;
    font-size:1rem;
}
#loginToggle {
    display:block;
    position:relative;
    right:7rem;
    border:none;
    background:none;
    text-decoration:underline;
    color:steelblue;
    font-size:1rem;
}
/*TrackList CSS*/
#trackForm {
    width:80%;
    margin:auto;
    margin-top:3rem;
    padding:3rem;
    background-color:blanchedalmond;
    text-align:center;
    font-size:1.3rem;
    border:gold 5px ridge;
}
#trackInput {
    width:50%;
    font-size:1rem;
    padding:0.4rem;
}
#trackbtn {
    width: 14%;
    font-size:1rem;
    padding:1rem;
    margin-top:1rem;
}
#trackList {
    margin:0;
    padding:0;
    display:flex;
    flex-wrap:wrap;
}
.trackMain > h1 {
    font-size:1.4rem;
    text-align:center;
    width:30%;
    margin:2rem auto;
    padding:1rem;
    border:gold ridge 4px;
    background-color:blanchedalmond;
}
/*TrackList entries CSS (Also applies to tracks in playlists.ejs*/
.trackEntry, .playlistEntry {
    list-style:none;
    min-width:10rem;
    min-height:10rem;
    border:gold ridge 5px;
    background-color:blanchedalmond;
    padding:1rem;
    margin:1rem;
    margin-top:1.2rem;
}
.trackEntry > img, .playlistEntry > img{
    width:100px;
    height:auto;
    display:block;
    border:gold ridge 3px;
}
.trackEntry > h2, .playlistEntry > h2 {
    display:block;
    font-size:1.4rem;
    margin:0;
    padding:0;
}
.trackEntry > p, .playlistEntry > p {
    display:block;
    font-size:1rem;
    font-weight:400;
    margin:0;
    padding:0;
    font-style:oblique;
}
/*Playlist CSS*/
#playlistForm {
    width:80%;
    margin:auto;
    margin-top:3rem;
    padding:3rem;
    background-color:blanchedalmond;
    font-size:1.3rem;
    border:gold 5px ridge;
    display:flex;
    justify-content:space-between;
    margin-bottom:3rem;
}
#playlistInput {
    width:50%;
    font-size:1rem;
    padding:0.4rem;
}
#playlistMain {
    width:60%;
}
#playlistbtn {
    width:20rem;
    font-size:1rem;
    padding:1rem;
    margin-top:1rem;
}
#playlistList {
    margin:0;
    padding:0;
    width:100%;
}

/*Playlist tracks CSS */
#playlistWrapper {
    width:95%;
    margin:auto;
    display:flex;
    justify-content:space-between;
}
#trackDisplay {
    justify-content:left;
    width:55rem;
    padding:0.5rem;
}
#playlistDisplay {
    justify-content:right;
    width:55rem;
    padding:0.5rem;
}
#playlistList, #trackPlaylist {
    margin:0;
    padding:0;
    width:40%;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
}
#trackHeader, #playlistHeader {
    font-size:1.4rem;
    text-align:center;
    padding:1rem;
    border:gold ridge 4px;
    background-color:blanchedalmond;
    display:inline-table;
}
#profileSelectDiv {
    justify-content:right;
    text-align:center;
    width:28rem;
}
#addToProfile {
    text-align:center;

}
#playlistSelect {
    width:15rem;
    font-size:1rem;
    padding:0.5rem;
}

/*Index CSS*/
.indexHeader {
    margin:auto;
    text-align:center;
    width:40%;
    border:gold 5px ridge;
    margin-top:2rem;
    padding:0.5rem;
    background-color:blanchedalmond;
}
.indexHeader > h2 {
    font-size:2.5rem;
    font-variant:small-caps;
}
.indexHeader > p {
    font-size:1.8rem;

}
.indexMain {
    border:gold 5px ridge;
    padding:2rem;
    background-color:blanchedalmond;
    text-align:center;
    width:50%;
    margin:3rem auto;
}
.indexMain > p {
    font-size:1.3rem;
}

/*Profile CSS*/
#profile {
    border:gold ridge 4px;
    background-color:blanchedalmond;
    width:30rem;
    margin:3rem;
    padding:2rem;
    min-height:20rem;
}
#profile > h1 {
    margin:0;
    padding:0;
}

#playListHeader {
    font-size:2rem;
    border:gold ridge 4px;
    background-color:blanchedalmond;
    width:10rem;
    text-align:center;
    padding:1rem;
}
#profilePlaylists > .trackEntry {
    width:10rem;
    display:inline-table;
}
#profilePlaylists > h3 {
    font-size:1.8rem;
    border:gold ridge 4px;
    background-color:blanchedalmond;
    width:15rem;
    text-align:center;
    padding:1rem;
}